<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="Custom" value="https://idmadmin.gire.com:5000/v3/index.json" />
    </packageSources>
    <packageSourceMapping>
        <clear />
        <packageSource key="nuget.org">
            <package pattern="*" />
        </packageSource>
        <packageSource key="Custom">
            <package pattern="Elsa" />
            <package pattern="Elsa.*" />
            <package pattern="Elsa.Studio.*" />
            <package pattern="Elsa.Integrations.*" />
        </packageSource>
    </packageSourceMapping>
</configuration>